.button-voltar {
    position: fixed;
    top: 16px;
    left: 16px;
    padding: 8px 12px;
    background-color: rgb(253, 102, 2);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    z-index: 1000;
}