h1 {
    width: flex;
    background-color: rgb(253, 102, 2);
    border-radius: 20px;
    border: 2px solid white;
    padding: 30px;
    font-family: 'Arial', sans-serif;
    border-bottom: 10px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    text-align: center;
}
h2 {
    border-radius: 20px;
    padding: 20px;
    border: 2px solid  rgb(255, 255, 255);
    border-bottom: 10px solid rgb(255, 255, 255);
    color: white;
    margin-top: 5px;
    width: flex;
    height: 20px;
    background-color: rgb(253, 102, 2);
    text-align: center;
}
body {
    background-color: rgb(0, 2, 0);
}